/* index.css or App.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f4f6f8;
  height: 100%;
}

#root {
  min-height: 100vh;
}


.container {
  width: 50vw;
  margin-top: 50px;
  background: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}

h1 {
    font-size: 50px;
  text-align: center;
  color: #333;
}

form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

input {
  flex-grow: 1;
  padding: 0.6rem;
  font-size: 1rem;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid #868484;
}

button {
  padding: 0.6rem 1rem;
  font-size: 1rem;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #43a047;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

th, td {
  padding: 12px 15px;
  text-align: left;
}

th {
  background-color: #4caf50;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
  color: white;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #f1f1f1;
}

.action-btn {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.action-btn:hover {
  background-color: #d32f2f;
}
